<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/index.css') }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=download" />
</head>

<body>

    <div class="chat-cont">
        <div class="chat-window " id="chatWindow"></div>
        <div id="spinner" class="spinner" style="display: none;"></div> <!-- Spinner -->
        <form id="imgToImgForm" action="/" method="post" class="send-cont">
            <label for="image">Upload your image:</label>
            <input type="file" id="image" name="file" accept="image/*" required />
            <br><br>
            <label for="prompt">Enter your prompt:</label>
            <textarea type="text" id="imgToImgArea" name="prompt" placeholder="Describe the transformation..." required ></textarea>
            <br><br>
            <button onclick="sendMessage(event)" type="submit">➤</button>
        </form>
    
        <form action="/" method="post" class="send-cont">
            <div class="input-container">
                <textarea id="textArea" name="user_input" placeholder="Type your message..." required></textarea>
                <button onclick="sendMessage(event)" type="submit">➤</button>
            </div>
        </form>
        <span class="material-symbols-outlined">
            download
        </span>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/index.js"></script>

</body>

</html>